*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h2 {
  font-weight: bold;
  color: #0080fe;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

.cv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  grid-template-areas:
    "header contact"
    "main sidebar";
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem;
}

.cv-header {
  grid-area: header;
}

.applicant-name {
  font-weight: bold;
  font-size: 2rem;
}

.applicant-intro {
  border: none;
  field-sizing: content;
  resize: none;
}

.contact-section {
  grid-area: contact;
  display: flex;
  flex-direction: column;
}

.contact-section a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.addable-entry {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.time-entry {
  font-style: italic;
}

.addable-entry li::before {
  content: "–";
  margin-right: 0.5rem;
}

.cv-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.education-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.submit-button {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}
